@import "tailwindcss";

@theme {
  --color-primary: #1a4472;
  --color-secondary: #674196;
  --color-surface: #f4f6f8;

  --font-sans: "Zen Kaku Gothic New", sans-serif;
}

@layer base {
  a {
    @apply text-primary underline underline-offset-3;
  }

  a:visited {
    @apply text-secondary;
  }
}
