---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import profileImage from "../assets/me.webp";

const works = [
  {
    title: "剣道スコア表",
    description: "Web 上で簡単に剣道のスコア表をつけられるアプリ。",
    link: "https://kendo-score.taigasaito.org",
  },
  {
    title: "チャレンジ AI クイズ",
    description: "高校の授業で制作した、問題を AI が自動生成するクイズアプリ。",
    link: "https://github.com/tsaito18/aiquiz",
  },
  {
    title: "khr2026_team1_rspi",
    description: "関西春ロボコン 2026 に出場した際の制御プログラム郡。",
    link: "https://github.com/DRC-org/khr2026_team1_rspi",
  },
];
---

<BaseLayout>
  <main class="mx-auto max-w-2xl px-4 pt-24 pb-8">
    <Image
      src={profileImage}
      loading="eager"
      alt="プロフィール画像"
      class="size-32 rounded-full object-cover"
    />
    <h1 class="mt-3 text-2xl font-bold">齋藤 大雅</h1>
    <p>大学生 / 京都</p>
    <p>
      Contact:
      <a href="mailto:me@taigasaito.org"> me@taigasaito.org </a>
    </p>

    <hr class="my-6" />

    <h2 class="mt-6 text-xl font-bold">About</h2>
    <p>Web 技術が好きです。最近はマイコンの組み込み開発もしています。</p>

    <h2 class="mt-6 text-xl font-bold">Skills</h2>
    <ul class="list-inside list-disc">
      <li>TypeScript</li>
      <li>Next.js, React, Tailwind CSS, ...</li>
    </ul>
    <p>and more...</p>

    <h2 class="mt-6 text-xl font-bold">Affiliation</h2>
    <ul class="list-inside list-disc">
      <li>同志社大学 理工学部電子工学科 (2025 - Now)</li>
      <li>同志社高等学校 普通科 (2022 - 2024)</li>
    </ul>

    <h2 class="mt-6 text-xl font-bold">Works</h2>
    <ul class="list-inside list-disc">
      {
        works.map((work) => (
          <li>
            <a href={work.link}>{work.title}</a> ― {work.description}
          </li>
        ))
      }
    </ul>
    <p>and more...</p>
  </main>
</BaseLayout>
