---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import profileImage from "../assets/me.webp";

const works = [
  {
    title: "剣道スコア表",
    description: "Web 上で簡単に剣道のスコア表をつけられるアプリ。",
    link: "https://kendo-score.taigasaito.org",
  },
  {
    title: "チャレンジ AI クイズ",
    description: "高校の授業で制作した、問題を AI が自動生成するクイズアプリ。",
    link: "https://github.com/tsaito18/aiquiz",
  },
  {
    title: "khr2026_team1_rspi",
    description: "関西春ロボコン 2026 に出場した際の制御プログラム郡。",
    link: "https://github.com/DRC-org/khr2026_team1_rspi",
  },
];
---

<BaseLayout>
  <main class="mx-auto max-w-2xl px-4 pt-24 pb-18">
    <Image
      src={profileImage}
      loading="eager"
      alt="プロフィール画像"
      class="size-32 rounded-full object-cover"
    />
    <h1 class="mt-3 text-2xl font-bold">齋藤 大雅</h1>
    <p>大学生 / 京都</p>
    <div class="flex items-center gap-3">
      <span>Contact:</span>
      <a href="mailto:me@taigasaito.org">me@taigasaito.org</a>
      <a
        href="https://github.com/tsaito18"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M12 .5C5.73.5.5 5.73.5 12c0 5.08 3.29 9.39 7.86 10.91.58.11.79-.25.79-.56v-2.17c-3.2.7-3.87-1.36-3.87-1.36-.52-1.33-1.28-1.68-1.28-1.68-1.05-.72.08-.7.08-.7 1.16.08 1.77 1.19 1.77 1.19 1.03 1.77 2.71 1.26 3.37.96.1-.75.4-1.26.73-1.55-2.55-.29-5.24-1.28-5.24-5.69 0-1.26.45-2.29 1.19-3.1-.12-.29-.52-1.46.11-3.05 0 0 .97-.31 3.18 1.18a11.06 11.06 0 0 1 5.79 0c2.21-1.49 3.18-1.18 3.18-1.18.63 1.59.23 2.76.11 3.05.74.81 1.19 1.84 1.19 3.1 0 4.42-2.69 5.39-5.25 5.68.41.36.78 1.06.78 2.14v3.17c0 .31.21.67.8.56C20.71 21.39 24 17.08 24 12 24 5.73 18.77.5 12 .5Z"
          ></path>
        </svg>
      </a>
    </div>

    <hr class="my-6" />

    <h2 class="mt-6 text-xl font-bold">About</h2>
    <p>Web 技術が好きです。最近はマイコンの組み込み開発もしています。</p>

    <h2 class="mt-6 text-xl font-bold">Skills</h2>
    <ul class="list-inside list-disc">
      <li>TypeScript</li>
      <li>Next.js, React, Tailwind CSS, ...</li>
    </ul>
    <p>and more...</p>

    <h2 class="mt-6 text-xl font-bold">Affiliation</h2>
    <ul class="list-inside list-disc">
      <li>同志社大学 理工学部電子工学科 (2025 - Now)</li>
      <li>同志社高等学校 普通科 (2022 - 2024)</li>
    </ul>

    <h2 class="mt-6 text-xl font-bold">Works</h2>
    <ul class="list-inside list-disc">
      {
        works.map((work) => (
          <li>
            <a href={work.link}>{work.title}</a> ― {work.description}
          </li>
        ))
      }
    </ul>
    <p>and more...</p>
  </main>
</BaseLayout>
