---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title = "齋藤 大雅", description = "齋藤 大雅のホームページ" } =
  Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <title>{title}</title>
  </head>
  <body class="bg-surface font-serif text-black">
    <slot />
  </body>
</html>
